Repository toobutta/Auterity-Dream: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, test-frontend, test-backend

type-check:
  name: TypeScript type check
  entry: npm run type-check
  language: system
  pass_filenames: false

test-frontend:
  name: Frontend tests
  entry: npm run test:frontend
  language: system
  pass_filenames: false

test-backend:
  name: Backend tests
  entry: npm run test:backend
  language: system
  pass_filenames: false

feat(ai-sdk): add enhanced AI SDK integration
  .kiro/specs/auterity-ai-platform-unified/templates/industry-accelerator-template.py
  AI_SDK_INTEGRATION_GUIDE.md
  README.md
  frontend/package.json
  frontend/src/pages/enhanced/EnhancedErrorDashboard.tsx
  frontend/src/services/enhanced/enhancedAIService.ts
  package-lock.json
  package.json
  scripts/check-cloud-deployment-simple.ps1
  scripts/check-cloud-deployment.ps1
  src/services/aiSDKService.ts
  src/types/ai-sdk.d.ts
  test-ai-sdk.js
  tsconfig.json
  verify-ai-sdk.js
Due: type-check, test-frontend, test-backend

PHASE 2 COMPLETE: Core Integration for Error-IQ
  README.md
  docs/API_DOCUMENTATION_COMPREHENSIVE.md
  docs/ARCHITECTURE_OVERVIEW.md
  docs/TECHNICAL_SPECIFICATIONS.md
  frontend/src/test-devtools.ts
Due: type-check, test-frontend

docs: consolidate documentation for unified platform
  docs/AI_SDK_INTEGRATION_GUIDE.md
  docs/CHROME_DEVTOOLS_INTEGRATION_GUIDE.md
  docs/README.md
  docs/UNIFIED_PLATFORM_INTEGRATION_GUIDE.md
Due: none

feat: Complete n8n workflow integration system
  .env.example
  AI_TOOLKIT_SCORING_MATRIX.md
  apps/workflow-studio/package.json
  apps/workflow-studio/src/App.tsx
  apps/workflow-studio/src/components/n8n/N8nCanvasIntegration.tsx
  apps/workflow-studio/src/components/n8n/N8nNodeConfigPanel.tsx
  apps/workflow-studio/src/nodes/n8n/N8nNodeFactory.ts
  apps/workflow-studio/src/nodes/n8n/N8nTemplateNode.ts
  apps/workflow-studio/src/nodes/n8n/N8nTriggerNode.ts
  apps/workflow-studio/src/pages/n8n/N8nManagementPage.tsx
  apps/workflow-studio/src/services/enterprise/EnterpriseOrchestrator.ts
  apps/workflow-studio/src/services/enterprise/NovitaAIService.ts
  apps/workflow-studio/src/services/enterprise/PostmanPostbotService.ts
  apps/workflow-studio/src/services/enterprise/TemporalService.ts
  apps/workflow-studio/src/services/enterprise/TestSigmaService.ts
  apps/workflow-studio/src/services/enterprise/WeightsAndBiasesService.ts
  apps/workflow-studio/src/services/langchain/AutoGenService.ts
  apps/workflow-studio/src/services/langchain/GoogleVertexService.ts
  apps/workflow-studio/src/services/langchain/HuggingFaceService.ts
  apps/workflow-studio/src/services/langchain/LangChainService.ts
  apps/workflow-studio/src/services/langchain/LiteLLMService.ts
  apps/workflow-studio/src/services/langchain/UnifiedAIOrchestrator.ts
  apps/workflow-studio/src/services/n8n/n8nApiService.ts
  apps/workflow-studio/src/services/n8n/n8nConfig.ts
  apps/workflow-studio/tailwind.config.js
  frontend/.env.example
  frontend/MISSING_COMPONENTS_ANALYSIS.md
  frontend/UI_UX_CONFIGURATION_GUIDE.md
  frontend/package.json
  frontend/src/components/ThemeProvider.tsx
  frontend/src/config/constants.ts
  frontend/vite.config.ts
  package.json
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
  test-setup.js
Due: type-check, test-frontend

feat: Add CodeRabbit backend auto-fix workflow
  .github/workflows/coderabbit-backend-autofix.yml
  apps/workflow-studio/src/services/enterprise/BillingService.ts
  apps/workflow-studio/src/services/enterprise/DeploymentManager.ts
  apps/workflow-studio/src/services/enterprise/SubscriptionService.ts
  apps/workflow-studio/src/services/enterprise/UsageAnalyticsService.ts
  docs/ADVANCED_AI_API_REFERENCE.md
  frontend/src/components/WorkflowExecutionResults.tsx
  frontend/src/components/analytics/AnalyticsDashboard.tsx
  frontend/src/components/ui/CommandPalette.tsx
  frontend/src/components/workflow-builder/WorkflowBuilderDemo.tsx
  frontend/src/hooks/usePerformance.ts
  frontend/src/utils/accessibility-auditor.ts
  frontend/src/utils/chrome-devtools-bridge.ts
  frontend/src/utils/console-enhancer.ts
  frontend/src/utils/memory-profiler.ts
  frontend/src/utils/network-monitor.ts
  frontend/src/utils/security-scanner.ts
  frontend/vite.config.ts
  services/api/src/app/api/__init__.py
  services/api/src/app/api/ai_advanced.py
  services/api/src/app/api/ai_core.py
  services/api/src/app/main.py
  systems/integration/src/services/health-monitor.ts
  systems/mcp/orchestrator.ts
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
Due: type-check, test-frontend, test-backend

feat(quality): add automated code quality enhancements
  .github/workflows/coderabbit-backend-autofix.yml
  apps/workflow-studio/src/services/enterprise/SubscriptionService.ts
  docs/API_COST_MANAGEMENT.md
  frontend/src/utils/network-monitor.ts
  packages/workflow-contracts/auterity-workflow-studio.code-workspace
  scripts/fix_imports.py
  scripts/fix_performance.py
  scripts/fix_security.py
  scripts/fix_types.py
  services/api/src/app/services/billing_service.py
  systems/neuroweaver/src/services/n8n/n8nNeuroweaverConnector.ts
  systems/relaycore/src/services/n8n/n8nRelayCoreAdapter.ts
Due: type-check, test-frontend, test-backend

docs: update documentation
  CHANGELOG.md
  README.md
  docs/AI_SERVICES_INTEGRATION.md
  docs/API_DOCUMENTATION_COMPREHENSIVE.md
  docs/ARCHITECTURE_OVERVIEW.md
  package.json
Due: none

refactor: streamline lint setup and typing
  backend/.python-version
  frontend/.eslintrc.minimal.cjs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/utils/retryUtils.ts
Due: type-check, test-frontend

docs(frontend): add FRONTEND_TASKS_DETAILED_PLAN for staging with full task breakdown
  FRONTEND_ENHANCEMENT_PLAN.md
  apps/workflow-studio/package.json
  docs/FRONTEND_TASKS_DETAILED_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ide/UnifiedIDE.tsx
  frontend/src/components/templates/ai-integration/AIServiceWrapper.tsx
  package-lock.json
  package.json
  src/components/ui/ai/AIChatInterface.tsx
  src/components/ui/ai/hooks/useAIChat.ts
  src/components/ui/ai/index.ts
  src/components/ui/ai/types.ts
  src/hooks/useAIElements.ts
  src/hooks/useAnalytics.ts
  src/hooks/useFeatureFlags.ts
  src/hooks/usePerformance.ts
  src/services/analytics.ts
  src/services/featureFlags.ts
  src/services/github/GitHubAuditLogger.ts
  src/services/github/GitHubWebhookSecurity.ts
  src/services/performance.ts
  src/types/analytics.ts
  src/types/featureFlags.ts
  src/types/performance.ts
Due: type-check, test-frontend

feat: Implement centralized Model Configuration Service
  REMAINING_TASKS_ROADMAP.md
  apps/workflow-studio/src/components/ai/UnifiedAIMarketplace.tsx
  auterity-workflow-studio.code-workspace
  docs/AI_FRAMEWORK_MAPPING_GUIDE.md
  docs/AI_INTEGRATION_IMPLEMENTATION.md
  docs/FRONTEND_TASKS_DETAILED_PLAN.md
  frontend/src/components/model-hub/ModelValidationDashboard.tsx
  frontend/src/components/workflow-builder/nodes/UnifiedAINode.tsx
  frontend/src/components/workflow-builder/nodes/index.ts
  services/api/src/app/api/models.py
  services/api/src/app/main.py
  services/api/src/config/models.yaml
  src/services/modelConfigService.ts
Due: type-check, test-frontend, test-backend

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  type-check: any of: \.(ts|tsx)$
  test-frontend: any of: \.(ts|tsx|js|jsx)$
  test-backend: any of: \.py$
