Repository toobutta/Auterity-Dream: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check, test-frontend, test-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=88']
        exclude: ^(migrations/|venv/)

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: ['--profile', 'black', '--line-length=88']

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-docstrings, flake8-bugbear]
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@8.56.0
          - '@typescript-eslint/parser@6.19.1'
          - '@typescript-eslint/eslint-plugin@6.19.1'
          - eslint-plugin-react@7.33.2
          - eslint-plugin-react-hooks@4.6.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css, html, markdown]
        exclude: ^(package-lock\.json|\.min\.js)$

  - repo: local
    hooks:
      - id: type-check
        name: TypeScript type check
        entry: npm run type-check
        language: system
        pass_filenames: false
        files: \.(ts|tsx)$

      - id: test-frontend
        name: Frontend tests
        entry: npm run test:frontend
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx)$

      - id: test-backend
        name: Backend tests
        entry: npm run test:backend
        language: system
        pass_filenames: false
        files: \.py$

      - id: security-scan
        name: Security scan
        entry: npm run security-scan
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: compliance
        name: Compliance checks
        entry: scripts/compliance/precommit.sh
        language: system
        pass_filenames: false

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(package-lock\.json|\.min\.js)$

chore: add project license
  .github/workflows/ci.yml
  .github/workflows/comprehensive-ci.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  COMPLIANCE/ATTRIBUTION.csv
  COMPLIANCE/LICENSES/PyMuPDF-1.23.8.txt
  COMPLIANCE/LICENSES/cors-2.8.5.txt
  COMPLIANCE/LICENSES/dotenv-17.2.1.txt
  COMPLIANCE/LICENSES/express-5.1.0.txt
  COMPLIANCE/LICENSES/fastapi-0.104.1.txt
  COMPLIANCE/LICENSES/react-18.3.1.txt
  COMPLIANCE/LICENSES/sqlalchemy-2.0.23.txt
  COMPLIANCE/LICENSES/uvicorn-0.24.0.txt
  COMPLIANCE/NOTICE
  COMPLIANCE/POLICY.yml
  COMPLIANCE/README.md
  COMPLIANCE/SBOM.spdx.json
  COMPLIANCE/SUMMARY.md
  COMPLIANCE/THIRD_PARTY_NOTICES.md
  COMPLIANCE/bom.cdx.json
  COMPLIANCE/scancode.json
  COMPLIANCE/subprojects/backend/ATTRIBUTION.csv
  COMPLIANCE/subprojects/frontend/ATTRIBUTION.csv
  LICENSE
  scripts/compliance/evaluate_policy.sh
  scripts/compliance/format_artifacts.sh
  scripts/compliance/generate_sbom.sh
  scripts/compliance/install_tools.sh
  scripts/compliance/precommit.sh
  scripts/compliance/scan_licenses.sh
Due: none

feat: add admin configuration dashboard for production settings
  .env.production
  .github/ENVIRONMENT_SETUP.md
  .github/scripts/integration-tests.sh
  .github/scripts/security-scan.py
  .github/workflows/config.yml
  .github/workflows/release.yml
  COHESIVE_DEVELOPMENT_PLAN.md
  DEPLOYMENT_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_STRUCTURE_COMPREHENSIVE.md
  WORKFLOW_CONSOLIDATION_SUMMARY.md
  backend/app/api/auth.py
  backend/app/api/dependencies.py
  backend/app/auth.py
  backend/app/core/config.py
  frontend/src/App.test.tsx
  frontend/src/components/__tests__/ErrorRecoveryGuide.test.tsx
  frontend/src/components/__tests__/WorkflowExecutionHistory.test.tsx
  frontend/src/components/__tests__/WorkflowExecutionResults.test.tsx
  frontend/src/components/admin/ConfigurationSettings.tsx
  frontend/src/components/agents/AgentDashboard.tsx
  frontend/src/components/nodes/__tests__/AIProcessNode.test.tsx
  frontend/src/components/nodes/__tests__/EndNode.test.tsx
  frontend/src/components/nodes/__tests__/StartNode.test.tsx
  frontend/src/components/workflow-builder/EnhancedWorkflowBuilder.tsx
  scripts/setup-monitoring.sh
  scripts/validate-deployment.sh
Due: type-check, test-frontend, test-backend

chore: centralize AI agent rules and archive old agent docs
  .github/copilot-instructions.md
  README.md
  archived-agent-docs/AGENT_FRAMEWORK_IMPLEMENTATION_STATUS.md
  archived-agent-docs/AGENT_FRAMEWORK_INTEGRATION_GUIDE.md
Due: none

fix: complete logging and gitignore updates
  .gitignore
  backend/app/api/ecosystem_management.py
  backend/app/api/service_status_enhanced.py
  backend/app/services/ai_orchestrator.py
Due: test-backend

fix(code-quality): reduce linting errors from 178 to 25
  backend/app/api/agent_registry.py
  backend/app/api/auterity_expansion.py
  backend/app/api/ecosystem_management.py
  backend/app/auth.py
  backend/app/core/cache.py
  backend/app/init_db.py
  backend/app/middleware/tenant_middleware.py
  backend/app/schemas/auterity_expansion.py
  backend/app/services/advanced_analytics_service.py
  backend/app/services/agent_marketplace_service.py
  backend/app/services/agents/rag_engine.py
  backend/app/services/api_gateway_service.py
  backend/app/services/enhanced_recovery.py
  backend/app/services/litellm_service.py
  backend/app/services/smart_triage_service.py
  backend/app/services/template_service.py
  backend/cross_system_protocol.py
  backend/examples/workflow_execution_example.py
  backend/tests/conftest.py
  backend/tests/integration/conftest.py
  backend/tests/test_agent_framework.py
  backend/tests/test_database.py
  backend/tests/test_models.py
  backend/tests/test_workflows.py
  scripts/final_linting_cleanup.py
  scripts/fix_remaining_linting.py
  scripts/verify_service_architecture.py
Due: test-backend

docs(sync): add comprehensive GitHub sync status report
  GITHUB_SYNC_STATUS_REPORT.md
Due: none

docs(structure): update comprehensive project tree graph
  PROJECT_STRUCTURE_TREE_UPDATED.md
Due: none

fix: resolve critical linting issues
  backend/app/api/agent_registry.py
  backend/app/api/endpoints/saas.py
  backend/app/api/mcp_routes.py
  backend/app/services/agent_marketplace_service.py
  backend/app/services/agents/rag_engine.py
  backend/app/services/partner_ecosystem_service.py
  backend/app/services/smart_triage_service.py
  backend/cross_system_protocol.py
  backend/examples/workflow_execution_example.py
  backend/tests/test_agent_framework.py
  backend/tests/test_database.py
  backend/tests/test_models.py
  scripts/final_linting_cleanup.py
  scripts/fix_remaining_linting.py
  scripts/resolve_final_25_errors.py
  scripts/targeted_final_fixes.py
  scripts/ultra_targeted_fixes.py
Due: test-backend

fix(ci): resolve CI issues and add compliance
  COMPLIANCE/ATTRIBUTION.csv
  COMPLIANCE/NOTICE
  COMPLIANCE/POLICY.yml
  COMPLIANCE/README.md
  COMPLIANCE/SBOM.spdx.json
  COMPLIANCE/THIRD_PARTY_NOTICES.md
  COMPLIANCE/bom.cdx.json
  COMPLIANCE/scancode.json
  backend/app/schemas/__init__.py
  backend/app/schemas/agent.py
  backend/app/services/vector/__init__.py
  backend/app/services/vector/pinecone_store.py
  scripts/compliance/evaluate_policy.sh
  scripts/compliance/format_artifacts.sh
  scripts/compliance/generate_sbom.sh
  scripts/compliance/install_tools.sh
  scripts/compliance/precommit.sh
  scripts/compliance/scan_licenses.sh
Due: test-backend

chore(cleanup): remove temporary documentation files
  .github/copilot-instructions.md
  .github/workflows/comprehensive-ci-enhanced.yml
  .github/workflows/comprehensive-ci-old.yml
  .vscode/python.json
  GITHUB_SYNC_STATUS_REPORT.md
  LINTING_IMPLEMENTATION_COMPLETE.md
  LINTING_RESOLUTION_PLAN.md
  PROJECT_STRUCTURE_TREE_UPDATED.md
  archived-agent-docs/AGENT_FRAMEWORK_IMPLEMENTATION_STATUS.md
Due: none

fix: resolve final linting issue in vector store module
  backend/app/services/vector/pinecone_store.py
Due: test-backend

fix(backend): resolve linting and workflow issues
  backend/app/api/auterity_expansion_mock.py
  backend/app/api/auth.py
  backend/app/api/kafka.py
  backend/app/api/system_health.py
  backend/app/auth.py
  backend/app/services/kafka_service.py
  backend/app/services/vector/pinecone_store.py
  backend/fix_auth_issues.py
  backend/requirements.txt
Due: test-backend

docs(backend): add comprehensive technical debt resolution report
  TECHNICAL_DEBT_RESOLUTION_REPORT.md
  backend/final_technical_debt_summary.py
Due: test-backend

fix(schemas): resolve import errors preventing startup
  backend/app/schemas/__init__.py
Due: test-backend

refactor(quality): complete code quality improvements
  backend/app/services/advanced_analytics_service.py
  backend/app/services/integration_controller.py
  backend/app/tests/services/test_litellm_service.py
Due: test-backend

fix: resolve critical schema and config errors
  backend/app/api/auterity_expansion.py
  backend/app/core/saas_config.py
  backend/app/models/agent.py
  backend/app/schemas/__init__.py
Due: test-backend

docs: fix markdown linting issues in Code Citations
  .kiro/specs/auterity-expansion/# Code Citations.md
  .kiro/specs/auterity-expansion/Untitled-1.md
Due: none

fix(backend): resolve Python linting violations
  AI_COMMIT_MESSAGE_RULES.md
  backend/app/api/error_management.py
  backend/fix_auth_issues.py
  scripts/fix_all_linting.py
  scripts/fix_imports.py
Due: test-backend

docs(formatting): resolve markdown linting violations
  AI_COMMIT_MESSAGE_RULES.md
  COMMIT_QUICK_REFERENCE.md
Due: none

fix(api): fix linting errors in auterity expansion
  backend/app/api/auterity_expansion_fixed.py
Due: test-backend

fix(frontend): resolve moderate vulnerabilities
  frontend/package.json
  frontend/src/components/LazyCodeHighlighter.tsx
  package-lock.json
  package.json
  runtime.txt
Due: type-check, test-frontend

fix(backend): resolve all linting violations
  GITHUB_RESOLUTION_REPORT.md
  backend/app/api/agents.py
  backend/app/api/auterity_expansion.py
  backend/app/api/auterity_expansion_fixed.py
  backend/app/api/auterity_expansion_mock.py
  backend/app/api/endpoints/saas.py
  backend/app/api/error_management.py
  backend/app/api/kafka.py
  backend/app/api/relaycore.py
  backend/app/init_db.py
  backend/app/middleware/enhanced_error_middleware.py
  backend/app/middleware/otel_middleware.py
  backend/app/models/__init__.py
  backend/app/models/agent.py
  backend/app/models/mcp_server.py
  backend/app/models/model_config.py
  backend/app/models/models.py
  backend/app/models/template.py
  backend/app/models/user.py
  backend/app/models/workflow.py
  backend/app/services/advanced_analytics_service.py
  backend/app/services/ai_cost_optimization_service.py
  backend/app/services/ai_service_migration.py
  backend/app/services/ai_service_relaycore.py
  backend/app/services/litellm_service.py
  backend/app/services/partner_ecosystem_service.py
  backend/app/services/smart_triage_service.py
  backend/app/services/workflow_engine.py
  backend/final_technical_debt_summary.py
  backend/fix_auth_issues.py
  backend/fix_line_length_violations.py
Due: test-backend

fix(workflows): resolve GitHub Actions context access warnings
  .github/workflows/comprehensive-ci.yml
Due: none

fix(backend): resolve critical type errors and workflow issues
  .github/workflows/comprehensive-ci.yml
  .kiro/specs/auterity-expansion/# Code Citations.md
  COMMIT_RULES_IMPLEMENTATION.md
  COMPLIANCE/THIRD_PARTY_NOTICES.md
  GITHUB_RESOLUTION_REPORT.md
  GITHUB_WORKFLOW_RESOLUTION_REPORT.md
  TECHNICAL_DEBT_RESOLUTION_REPORT.md
  backend/app/core/cache.py
  backend/app/services/agent_marketplace_service.py
  backend/examples/workflow_execution_example.py
  backend/final_technical_debt_summary.py
  backend/requirements.txt
Due: test-backend

fix(deploy): resolve Vercel deployment configuration issues
  .github/workflows/comprehensive-ci.yml
  .github/workflows/vercel-deployment.yml
  .vercelignore
  AI_COMPREHENSIVE_CONTEXT_DOCUMENT.md
  CURRENT_PROJECT_STATUS.md
  README.md
  VERCEL_DEPLOYMENT_FIX.md
  frontend/package.json
  package-lock.json
  vercel.json
Due: none

fix(vercel): remove functions property conflict
  vercel.json
Due: none

feat(ci): add AI toolkit strategy and workflows
  .github/workflows/comprehensive-ci.yml.disabled
  .github/workflows/optimized-ci-cd.yml
  .vercel-deployment-guide.md
  vercel.json
Due: none

chore(docs): sync updates to MASTER_UNIFIED documents
  COHESIVE_DEVELOPMENT_PLAN.md
  DEVELOPMENT_ROADMAP.md
  MASTER_UNIFIED_DEVELOPMENT_PLAN.md
  backend/app/main.py
  backend/app/middleware/error_handler.py
  backend/app/services/ai_service_relaycore.py
  backend/app/services/sso_service.py
  backend/requirements.txt
  backend/tests/test_sso_service.py
  docs/AI_TOOLKIT_BUSINESS_CASE.md
  docs/AI_TOOLKIT_DEVELOPMENT_SUMMARY.md
  docs/AI_TOOLKIT_EXPANSION_STRATEGY.md
  docs/AI_TOOLKIT_EXPANSION_STRATEGY_FORMATTED.md
  docs/AI_TOOLKIT_TECHNICAL_SPECIFICATION.md
  docs/API_SPECIFICATIONS.md
  docs/MASTER_UNIFIED_BUSINESS_CASE.md
  docs/MASTER_UNIFIED_DEVELOPMENT_SUMMARY.md
  docs/MASTER_UNIFIED_EXPANSION_STRATEGY.md
  docs/MASTER_UNIFIED_TECHNICAL_SPECIFICATION.md
  frontend/src/api/auth.ts
  systems/relaycore/package.json
  systems/relaycore/src/middleware/auth.ts
Due: type-check, test-frontend, test-backend

fix(backend): resolve merge conflicts from comprehensive code quality improvements
  .pre-commit-config.yaml
  .vscode/settings.json
  backend/alembic/versions/001_add_enterprise_security.py
  backend/alembic/versions/003_add_saas_subscription_fields.py
  backend/alembic/versions/003_auterity_expansion_core.py
  backend/alembic/versions/20250809_add_mcp_support.py
  backend/alembic/versions/add_mcp_support_tables.py
  backend/alembic/versions/add_model_tracking_tables.py
  backend/app/api/error_management.py
  backend/app/api/tasks.py
  backend/app/core/rate_limiter.py
  backend/app/middleware/security_headers.py
  backend/app/ml/neuro_weaver.py
  backend/requirements.txt
  frontend/src/components/workflow-builder/WorkflowCanvas.tsx
  systems/integration/src/services/message-bus.ts
Due: type-check, test-frontend, test-backend

Add Vercel deployment workflows and configuration for CI/CD
  .github/workflows/vercel-deploy.yml
  .github/workflows/vercel-preview.yml
  .vercelignore
  CI_CD_FIXES_SUMMARY.md
  vercel.json
Due: none
